body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* dark grey background */
    color: white
}
html {
    scroll-behavior: smooth;}
a {
    text-decoration: none; /* remove default underline */
    color: white;
  }

.header {
    position: absolute;
    top: 50%;
    left: 30px; /* aligned text to left side of screen */
    transform: translateY(-50%);
    text-align: left;
    color: #fff; /* white font color */
    z-index: 40;
}
.verified-artist {
    font-size: 20px;
    margin-bottom: 5px; /* reduced margin between rows */
    transform: translateY(+180%);
}
.verified-artist img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    vertical-align: middle; /* centered image with text */
}
h1 {
    font-size: 96px;
    margin-bottom: 10px; /* reduced margin between rows */
    color: #fff; /* white font color */
    text-shadow: 0 0 10px #7a28cb, 0 0 20px #7a28cb, 0 0 30px #7a28cb; /* Purple neon glow effect */
}
.subtitle {
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff; /* white font color */
}
.gradient-section {
    position: absolute;
    margin-top: 350px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.2) 50%, #121212 100%);
    background-size: 100% 200px;
    background-position: 0% 0%;
    transform: translateY(0);
    background-repeat: no-repeat;
    z-index: 0;
}
.buttons {
    text-align: left;
    padding: 20px;
    z-index: 20;
}
.latest-content {
    margin-top: 0px;
    padding: 20px;
}

.latest-content-row {
    padding: 15px;
    background-color: #333; /* slightly grayer box than background */
    border-radius: 5px;
    cursor: pointer;
}

.latest-content-row:hover {
    background-color: #555; /* lighter gray on hover */
}

.latest-content-row img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
}

.latest-content-row .title {
    font-size: 18px;
    font-weight: bold;
    color: #fff; /* white font color */
}

.latest-content-row .subtext {
    font-size: 14px;
    color: #fff; /* white font color */
}

.latest-content-row .date {
    font-size: 14px;
    color: #fff; /* white font color */
    float: right;
}

.popular {
    position: relative;
    top: -29.5%;
    margin-top: 80px;
    padding: 20px;
    z-index: 5;
}

.popular-header {
    font-size: 40px !important;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff; /* white font color */
    text-shadow: 0 0 10px #7a28cb, 0 0 20px #7a28cb, 0 0 30px #7a28cb; /* Purple neon glow effect */

}

.popular-row {

    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 15px;
}

.popular-row:hover {
    background-color: #444; /* lighter gray on hover */
    cursor: pointer;
}
.popular-row a {
    text-decoration: none !important;
    color: inherit !important;
}

.popular-row a:hover {
    text-decoration: none !important;
    color: inherit !important;
}
.popular-row img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
}

.popular-row .title {
    font-size: 18px;
    font-weight: bold;
    color: #fff; /* white font color */
}

.popular-row .placeholder {
    font-size: 14px;
    color: #fff; /* white font color */
    float: right;
}

.popular-row .number {
    font-size: 14px;
    color: #fff; /* white font color */
    margin-right: 10px;
}

.popular-row img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
    flex-shrink: 0;
}

.title-container {
    flex-grow: 1;
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.placeholder {
    text-align: right;
    margin-left: auto;
    font-size: 14px;
    color: #fff;
}
#about-me {
    text-align: left;
  }
  
  .intro-text {
    font-size: 36px !important; /* increased font size to 36px */
    font-weight: bold; /* added bold font weight for better readability */
  }
  
  .subsection-header {
    font-size: 52px !important; /* increased font size to 48px */

  }
  
  .subsection-text {
    font-size: 24px !important; /* increased font size to 24px */
    line-height: 1.5 !important; /* added line height for better readability */
  }
  .bottomnav {
    font-size: 36px;
    color: #ffffff;
    align-items: center;
    text-align: center;
  }
  .bottomnav a:hover {
    text-decoration: underline;
    text-decoration-color: #FFFFFF; /* white underline on hover */
    text-decoration-thickness: 2px; /* adjust thickness to your liking */
  }