/* content.css */

@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap&font-display=swap');

/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a1d23; /* Dark background to make neon glow stand out */
}

/* Headlining Text */
.headlining-text {
  font-size: 96px; /* Increased font size */
  color: #ffffff; /* White text color */
  text-align: center;
  padding: 20px;
  -webkit-font-smoothing: antialias;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0 10px #7a28cb, 0 0 20px #7a28cb, 0 0 30px #7a28cb; /* Purple neon glow effect */
  font-family: 'LasEnter', sans-serif;
  font-weight: 600; /* Use a semibold font weight for better readability */
}
.yellow-neon {
  color: #ffffff; /* White text color */
  /* color: #ffff00; Yellow text color */
  text-align: center;
  font-size: 120px;
  padding: 20px;
  -webkit-font-smoothing: antialias;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0 10px #ffd700, 0 0 20px #ffc400, 0 0 30px #ffa07a; /* Yellow neon glow effect */
  font-family: 'LasEnter', sans-serif;
  font-weight: 600; /* Use a semibold font weight for better readability */
}

/* Main Content Section */

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
}

.sections {
  margin: 20px;
  display: inline-block;
  radial-gradient(circle,
  rgba(73, 22, 94,1) 25%,
  rgba(0, 0, 0, 1) 100%);
}

.icon {
  color: #ffffff; /* White icon color */
  margin: 10px;
  font-size: 15rem !important;
  text-shadow: 0 0 10px #7a28cb, 0 0 20px #7a28cb, 0 0 30px #7a28cb; /* Purple neon glow effect */
}

.neon {
  text-shadow: 0 0 10px #7a28cb, 0 0 20px #7a28cb, 0 0 30px #7a28cb; /* Purple neon glow effect */
}
.sectiontitles {
    color: #ffffff; /* White text color */
    text-align: center;
    font-size: 46px;
    padding: 20px;
    -webkit-font-smoothing: antialias;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 0 0 10px #7a28cb, 0 0 20px #7a28cb, 0 0 30px #7a28cb; /* Purple neon glow effect */
    font-family: 'LasEnter', sans-serif;
    font-weight: 600; /* uses a semibold font weight for better readability */
}
f
  .myName {
    font-size: 120px
  }
  * {
    animation: pulse 3s ease-in-out infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      filter: brightness(1);
    }
    50% {
      transform: scale(1.0001);
      filter: brightness(1.05);
    }
    100% {
      transform: scale(1);
      filter: brightness(1);
    }
  }
  .icon-container {
    display: inline-block;
    margin: 20px;
  }
  
  .icon-container:hover .icon, .icon-container:hover .sectiontitles {
    opacity: 1.2;
    text-shadow: 0 0 10px #ff73fd, 0 0 20px #e537e8, 0 0 30px #b521e2, 0 0 40px #8807c4, 0 0 50px #5a0faa, 0 0 60px #3d006c, 0 0 70px #21003a5c, 0 0 100px #22003b; /* Purple neon glow effect */
    filter: brightness(1.8);
  }
  
  .icon-container .icon, .icon-container .sectiontitles {
    transition: filter .05s cubic-bezier(0.4, 0, 0.2, 1);
  }