/*NOTE TO SELF: do not change any of the animatinos without adjusting the respective js value, learned the hard way*/
.background-image {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
 object-fit: contain;
}
  
  .background-image video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10;
  }
  
  .background-image.fullscreen {
    height: 100vh;
  }
  
  .background-image.animate {
    animation: bannerAnimation 2.2s ease-out;
    animation-delay: 1.5s;
    animation-fill-mode: forwards; /*I searched this up for like an hour before I found it*/
  }
  
  @keyframes bannerAnimation {
    0% {
      height: 100vh;
      background-size: 100vw auto;
    }
    100% {
      height: 350px;
      background-size: cover;
    }
  }
  .background-image.minimized {
    height: 350px; 
    width: 100%; 
    top: 0; 
    left: 0; 
  }
  .no-scroll {
    overflow: hidden;
  }