
body {
  background-color: #191515;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  align-items: center;
  background-color: #1A1A1A;
  padding: 20px;
  text-align: left;
  border-radius: 10px;
  margin: 20px;
  margin-bottom: 0px;
}

.header-subtext {
  background-color: #1A1A1A;
  padding: 10px;
  border-radius: 10px;
  margin-left: 20px;
  display: inline-block;
}

.header-subtext p {
  color: #a3a3a3;
  font-size: 24px;
  margin: 0;
  margin-left: 70px;
}
a {
  text-decoration: none; /* remove default underline */
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #FFFFFF; /* white underline on hover */
  text-decoration-thickness: 1px; /* adjust thickness to your liking */
}
h1 {
  text-shadow: 0 0 10px #221233, 0 0 20px #7a28cb, 0 0 30px #7a28cb; /* Purple neon glow effect */
  color: #FFFFFF;
  font-size: 96px;
}
h2 {
  color: white;
  font-size: 36px;
}
.section h2, .upcoming-events h2 {
  position: relative;
  top: 65px; /* adjust the value to move the h2 down */
  display: inline-block;
  margin-right: 10px; /* add some space between h2 and button */
}
.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}


.content-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.content-box {
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  overflow: hidden; /* Add this to prevent image overflow */
  transition: transform 0.3s ease-in-out; /* Add this for hover effect */
}

.content-box:hover {
  transform: scale(1.05); /* Add this for hover effect */
}

.content-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.content-box img, .gif-container img {
  width: 231px; /* adjust the width to your desired value */
  height: 200px; /* adjust the height to your desired value */
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.content-box.title {
  color: #FFFFFF;
  font-size: 18px;
  margin-bottom: 10px;
}
.content-box:hover {
  background-color: #333;
}

.content-box:active {
  background-color: #444;
}

.see-more-box {
  background-color: #1A1A1A;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.see-more-box.title {
  color: #FFFFFF;
  font-size: 18px;
  margin-bottom: 10px;
}

.see-more-box.subtext {
  color: #666;
  font-size: 14px;
}

.see-more-box:hover {
  background-color: #333;
}

.see-more-box:active {
  background-color: #444;
}
.upcoming-events {
  padding: 20px;
}
.event-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.event-poster {
  width: 250px;
  height: 300px;
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
}

.event-poster:hover{
  transform: scale(1.05);
}

.event-poster img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.see-all-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.see-all-events:hover {
  background-color: #333;
}

.see-all-events img {
  width: 50%;
  height: auto;
  margin-bottom: 10px;
}

.see-all-events p {
  color: #fff;
  font-size: 24px;
  margin: 0;
}
.section, .upcoming-events {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px; 
}
.show-all {
  margin-bottom: 20px;
  margin-left: auto;
  align-items: center;
  justify-content: flex-end;
}

.show-all button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.show-all button:hover {
  background-color: #444;
}
/* Add a class to toggle the visibility of extra content */
.show-all-content {
  display: block;
}
/* Hide the extra content by default */
.content-box:not(:nth-child(-n+3)),.event-box:not(:nth-child(-n+3)) {
  display: none;
}
.pages-header {
  margin-left: 20px;
}
.music-pages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.music-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.music-box {
  width: 265px; /* set a fixed width */
  margin: 20px;
  border: none;
  outline: none;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease; /* add transition effect */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}
.music-box:hover {
  transform: scale(1.05);
}
.music-box img {
  width: 100%;
  height: 150px; /* set a fixed height */
  object-fit: cover;
  border-radius: 4px 4px 4px 4px;
}
.music-box h3 {
  font-size: 24px;
  margin-top: 0;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.music-box h3 img {
  width: 40px; /* set a fixed width for the icon */
  height: 40px; /* set a fixed height for the icon */
  margin-left: 10px;
}

.music-box:hover h3 {
  text-decoration: underline;
  text-underline-offset: 1px; /* add 1px underline */
  text-decoration-thickness: 1px; /* add 1px underline */
}

.music-box p {
  color: #ccc;
  font-size: 16px;
  line-height: 24px;
}

.music-box:hover {
  background-color: #333; /* change background color on hover */
}