.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: rgba(26, 26, 26, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 98; /* to ensure it stays on top */
}

.logo {
  margin-right: 20px;
}

.logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}
.menu {
  margin: 0 auto;
  margin-left: 40px;
  padding: 0;
  list-style: none;
  width: 100%;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu > li {
  background: #242424;
  position: relative;
  transform: skewX(-25deg);
}

.menu a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}

.menu li:hover {
  background: #520a85;
}

.menu > li > a {
  transform: skewX(+25deg);
  padding: 1em 2em;
}
.menu > li.active {
  background-color: #520a85; /* same as hover color */
  color: #fff;
  transform: skewX(-25deg); /* skew 25 deg left */
}
  
  .menu > li.active > a span {
    transform: skewX(+25deg) !important; /* reset skew for text */
    display: inline-block; /* to apply transform */
  }

.user-profile {
  background-color: #131313; /* darker gray */
  width: 115px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  margin-right: 40px;
  align-items: center;
}

.user-profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-profile span {
  color: #fff;
  margin-left: 10px;
}