/* projects.css */
:root {
    --navbar-height: 81px; 
  }
body {
    font-weight: 600;
    color: #ffffff; /* White text color */
    background-color: #191515; 
    margin-top: var(--navbar-height); 
}
header {
  display: flex;
  align-items: center;
  background-image: url('headerimages/nextechgroup1.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px;
  text-align: left;
  border-radius: 10px;
  margin: 20px;
  margin-bottom: 0px;
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #191515; 
  opacity: 0.5; 
  border-radius: 10px;
}
h1 {
    text-shadow: 0 0 10px #221233, 0 0 20px #7a28cb, 0 0 30px #7a28cb; /* Purple neon glow effect */
}

.projects {
    width: 60%; 
    float: left; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-box {
  width: 40%; 
  margin: 20px;
  background-color: #191515; /* same color as the background */
  border: none;
  outline: none;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease; /* adds the transition effect */
  border-radius: 10px
}

.project-box:hover {
  background-color: #333; 
}

.project-box img {
  width: 100%;
  height: 250px; 
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.project-info {
  padding: 20px;
  border-radius: 0 0 10px 10px;
}

.project-info h2 {
  margin-top: 0;
  color: #fff;
  text-decoration: none;
}

.project-box:hover .project-info h2 {
  text-decoration: underline;
  text-underline-offset: 2px; 
  text-decoration-thickness: 2px; 
}

.project-info p {
  color: #ccc;
  font-size: 16px;
  line-height: 24px;
}

.project:hover {
    height: 400px;
}

.project h2 {
    font-size: 24px;
    color: #ffffff; 
    text-align: center;
    padding: 20px;
    text-shadow: 0 0 10px #221233, 0 0 20px #7a28cb, 0 0 30px #7a28cb; /* Purple neon glow effect */
}

.coding-skills {
    position: fixed;
    top: 50px; 
    right: 0;
    background-color: #101010; /* Dark background color */
    padding: 20px;
    margin: 20px;
    width: 300px;
    height: 1000x;             
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%; 
    float: right; 
    margin-left: 20px; 
    display: flex; 
    flex-wrap: wrap; 
}
.coding-skills h2 {
    font-size: 24px;
    color: #ffffff; 
    text-align: center;
    padding: 20px;
    text-shadow: 0 0 10px #221233, 0 0 20px #7a28cb, 0 0 30px #7a28cb; /* Purple neon glow effect */
}

.coding-skills ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /*don't change this*/
    flex-wrap: wrap; /* wraps them to the next line */
    justify-content: space-between; /* evenly spaces the list items */
}

.coding-skills li {
    margin-bottom: 40px; 
    text-align: center; 
    width: 45%; /* fits 2 items in a row */
}
.coding-skills img {
    width: 120px; 
    margin-bottom: 10px; 
}

.coding-skills img[src*="CSS-Logo"] {
    width: 190px; /* make CSS logo larger because it was a different dimension */
}

.coding-skills img[src*="JavaScript-Logo"] {
    width: 190px; /*same thing*/
}

/* New styles for project links with their respective preview images */

.project {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}