:root {
    --navbar-height: 70px;
  }
body {
    font-weight: 600;
    color: #ffffff; 
    background-color: #191515; 
    margin-top: calc(var(--navbar-height)); 
}
  header {
    display: flex;
    align-items: center;
    background-image: url('headerimages/bannerwebsite.png');
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    margin: 20px;
    margin-bottom: 0px;
    position: relative; 
  }
  
  header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #191515; 
    opacity: 0.5; 
    border-radius: 10px;
  }
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.left-column {
    width: 700px;
    margin-right: 20px;
}

.right-column {
    width: 700px;
}

section {
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
h1 {
    text-shadow: 0 0 10px #221233, 0 0 20px #7a28cb, 0 0 30px #7a28cb; /* Purple neon glow effect */
}
h2 {
    font-size: 28px;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}
h3 {
    font-size: 24px;
    color: #ffffff;
    padding: 20px;
}
p {
    font-size: 20px;
}
a {
    text-decoration: none; /* remove underline */
    color: #ffffff; /* set text color to white */
}

a:hover {
    text-decoration: underline; /* add underline on hover */
}
.left-column section {
    height: 100%; /* Makes the left column section take up the full height */
}

.right-column section {
    height: 45%; /* I don't know why this works it just does */
    margin-bottom: 10px; 
}

.readme {
    height: 100%;
}

.credits {
    height: 66.67%;
}

.legacy {
    height: 33.33%;
}
